<?xml version="1.0"?>
<config>
    <modules>
        <Tap_TapCheckout>
            <version>0.1.0</version>
        </Tap_TapCheckout>
    </modules>
    <global>
        <models>
            <tapcheckout>
                <class>Tap_TapCheckout_Model</class>
                <resourceModel>tapcheckout_mysql4</resourceModel>
            </tapcheckout>
            <tapcheckout_mysql4>
                <class>Tap_TapCheckout_Model_Mysql4</class>
                <entities>
                    <api_debug><table>tapcheckout_api_debug</table></api_debug>
                </entities>
            </tapcheckout_mysql4>
        </models>
        <helpers>
            <tapcheckout>
                <class>Tap_TapCheckout_Helper</class>
            </tapcheckout>
	</helpers>
        <resources>
            <tapcheckout_setup>
                <setup>
                    <module>Tap_TapCheckout</module>
                    <class>Tap_TapCheckout_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tapcheckout_setup>
            <tapcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tapcheckout_write>
            <tapcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tapcheckout_read>
        </resources>
        <blocks>
            <tapcheckout><class>Tap_TapCheckout_Block</class></tapcheckout>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <tapcheckout_shared>/tapcheckout/shared</tapcheckout_shared>
        </secure_url>
        <routers>
            <tapcheckout>
                <use>standard</use>
                <args>
                    <module>Tap_TapCheckout</module>
                    <frontName>tapcheckout</frontName>
                </args>
            </tapcheckout>
        </routers>
        <translate>
            <modules>
                <Tap_TapCheckout>
                    <files>
                        <default>Tap_TapCheckout.csv</default>
                    </files>
                </Tap_TapCheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <tapcheckout>
                    <file>tapcheckout.xml</file>
                </tapcheckout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Tap_TapCheckout>
                    <files>
                        <default>Tap_TapCheckout.csv</default>
                    </files>
                </Tap_TapCheckout>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <tapcheckout_shared>
                <customer_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <currency>KWD</currency>
                <model>tapcheckout/shared</model>
                <title>Tap</title>
                <secret_word>PUT SECRET WORD HERE</secret_word>
                <check_hash>1</check_hash>
                <direct_return>redirect</direct_return>
                <demo_mode></demo_mode>
                <skip_landing>0</skip_landing>
                <order_status>processing</order_status>
                <fraud_wait>holded</fraud_wait>
                <fraud_passed>pending</fraud_passed>
                <fraud_failed>canceled</fraud_failed>
                <invoice_pending></invoice_pending>
                <invoice_deposited></invoice_deposited>
                <invoice_declined>canceled</invoice_declined>
                <refund_issued>canceled</refund_issued>
                <allowspecific>0</allowspecific>
            </tapcheckout_shared>
        </payment>
    </default>
</config>
